<div class="container">
  <h2>Movies List</h2>
  <table mat-table [dataSource]="movies" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let movie">{{ movie.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let movie">
        <a (click)="loadMovie(movie.id)" style="cursor: pointer; text-decoration: underline;">
          {{ movie.title }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let movie">{{ movie.year }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'title', 'year']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'year']"></tr>
  </table>


  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage == 1">Previous</button>

    <span>| Page <input type="number" [formControl]="pageControl"> - out of total {{totalPages}} pages</span>
    <span> | Page size: {{pageSize}} | Total elements: {{totalItems}} |</span>

    <button (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
  </div>
</div>



